*.mat
artist_differentiator
*.pyc
venv
.*
learn_tf
*.jpg
*.csv
preprocessed_images*
sample_triplet
sample_images
pca_images
save/
*~
checkpoints/
*log.txt
test_images/
*test*
Log/
*paintings*
*data*
*.pdf
*.save

train_data
dev_data
test_data
*answer*